.about-container{
    min-width:100vw;
    min-height:100vh;
    background:black;
}

.about-title{
    color: white;
    margin-top: 0px;
    padding-top: 5%;
    padding-left: 15%;
    font-family: "Montserrat SemiBold";
}

.explanation{
    padding-left: 17%;
    padding-right: 15%;
    color: white;
    font-family: "Montserrat Alternates SemiBold";
    margin-bottom: 5%;
}

.big-boi{
    font-size: 25px;
    font-family: "Montserrat Medium";
}

.back-to-main{
    font-family: "Montserrat Alternates SemiBold";
    color: white;
    text-decoration: none;
}

.back-image{
    width:270px;
    height:80px;
    background-image:url(".././assets/sentiments_logo.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}
