html,body{
    padding: 0;
    margin:0;
    width:100vw;
    height:100vh;
    overflow: hidden;
}

.input-link {
  text-decoration: none;
  transition: all .5s ease-in-out;
}

.input-link:hover { 
  transform: scale(1.1); 
}

.input-link:link {
  text-decoration: none;
}

.input-link:visited {
  text-decoration: none;
}

.input-link:active {
  text-decoration: none;
}

.main-container {
    min-width:100vw;
    min-height:100vh;
    background:black;
    display:flex;
    align-items: center;
    flex-direction :column;
}

.more-container,.our-container{
    flex:1;
}

.more-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.our-container{
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
}

.header-container,.footer-container {
    width:100%;
    min-height: 120px;
    display: flex;
    flex:1;
}

.intro-wrapper {
    display:flex;
    align-content: center;
    justify-content: center;
    width:100%;
    flex-direction: column;
    align-items: center;
    flex:10;
}

.image-cont{
    width:300px;
    height:80px;
    background-image:url(".././assets/sentiments_logo.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.title-container{
    display:flex;
    flex-direction:column;
    width:auto;
    height:auto;
    position:absolute;
}

.smile {
    width:55px;
    height:55px;
    background-image:url(".././assets/sad.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity:1;
}

.by-container {
    display: flex;
    flex-direction: column;
    align-self:flex-start;
    align-items:flex-start;
}

.topper,.names,.click{
    color:white;
    font-family: "Montserrat SemiBold";
    font-weight: 600;
}
.label-1 {
    width:auto;
    color: white;
}

.label-1 h1 {
    padding-bottom: 0.5rem;
}

.label-1 h1,.label-1 p{
    font-size:10px;
    margin:0;
    line-height: 1rem;
    font-family: "Montserrat";
    font-weight: 400;
}

.topper p{
    margin:0;
    padding:0;
    font-size: 0.8rem;
}

.names h2{
    font-size: 0.65rem;
}


.more {
    width:20rem;
    color:white;
    font-family: "Montserrat";
    font-weight:500;
}

.more h1{
    font-size: 0.65rem;
}

.more span{
    font-size: 1rem;
    opacity: 0.1;
    font-family: "Montserrat";
    font-weight: 600;
}

.more span:hover{
    opacity: 1;
    cursor: pointer;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.try-container h1{
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 1rem;
    color:white;
    cursor: pointer;
}



/*
Basic input element using psuedo classes
*/

.black-container{
    background: black;
    display:flex;
    flex-direction: row;
    min-width:100%;
    min-height:100%;
    justify-content: center;
    align-items: center;
}

input,
label,
.comments,
textarea {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  display: block;
  padding: 5px;
  border: none;
  font-size: 12px;
    color:white;
}

.comments {
    font-weight: bold;
}

textarea:focus,
input:focus {
  outline: 0;
}
/* Question */

input.question,
textarea.question {
  font-size: 16px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 600px;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.question + label,
textarea.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  border-top: 1px solid white;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label,
textarea.question:focus + label {
  width: 80%;
}

input.question:focus,
input.question:valid {
  padding-top: 35px;
}

textarea.question:valid,
textarea.question:focus {
  margin-top: 35px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -100px;
  font-size: 12px;
  color: white;
    opacity: 0.45;
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -150px;
  font-size: 12px;
  color:white;
    opacity: 0.45;
}

input.question:valid + label,
textarea.question:valid + label {
  border-color: white;
}

input.question:valid + .evaluate-container,
textarea.question:valid + .evaluate-container {
  opacity: 0.25;
}

input.question:invalid,
textarea.question:invalid {
  box-shadow: none;
}

input.question + label > span,
textarea.question + label > span {
  font-weight: 600;
  margin: 0;
  position: absolute;
  color: white;
  font-size: 24px;
  top: -66px;
  left: 0px;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
  -webkit-transition: opacity 0.2s ease, background 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
    background: black;
}

input[type="submit"]:hover {
  background: black;
}

input[type="submit"]:active {
  background:black;
}


.question:valid + .evaluate-container{

}

input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
  display: none;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}


.right-container,.left-container {
    width:50vw;
    height:100vh;
    display:flex;
    justify-content: center;
}

.right-container {
    display: flex;
    flex-direction:column;
}

.evaluate-container {
    margin-top:2rem;
    justify-self: center;
    align-self: flex-start;
}

.evaluate-container h1 {
    font-family: "Montserrat";
    font-weight: 500;
    font-size:0.75rem;
}

.face-container {
    width:150px;
    height:500px;
    display:flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}

.smile-face,.toxic-face {
    width:100%;
    height:50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity:0.1;
}

.active {
    opacity:1;
}

.smile-face {
    background-image: url(".././assets/smile.png");
}

.toxic-face {
    background-image: url(".././assets/sad.png");
}
