{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="about-container">
        <h1 class="about-title">ABOUT US</h1>
        <p class="explanation"><span class="big-boi">HOW WE SET OUR SENTIMENTS</span><br/><br/>

            First of all we will 'feed' the system a training sample full of test sentences that will let our program
            construct a dictionary of words that know how much each word worth in terms of their positive or negative values.
            <br/><br/>
                Second, we will be using the algorithm called the "Naive Bayes Theorem". How this work is that when
            a user insert an input of words into the program, the line of words will be broken down into a separate
            individual word. After this, each individual will be multiplied by the positive and negative value of that
            word that the program get from the dictionary. After the system finish the calculation, all of the number
            will be summed up together to give us the result.
            <br/><br/>
                A positive comment :)     OR  A <span class="big-boi">TOXIC COMMENT >:( </span>
            <br/><br/>
            Now while this seems easy, there's actually a problem in which the result will yield 0 as the result even though
            there's no problem in the input of words itself, now this happen when the program read a word but can't
            find it in the dictionary, the multiplication will result in 0 and will ruin the whole system.
                <br/><br/>
            To fix this <we></we> used the algorithm called "Laplace Smoothing", in which we will add 1 at the beginning when
            the system read each individual word. By using this we can solve the 0-problem and fix the system.

            </p>
        <a class="back-to-main" href="{% url 'main' %}"><< Back to <div class="back-image"></div></a>
    </div>
{% endblock %}