{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/about_style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
    <title>Sentimental Analysis</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
<script>
    var cvEl = document.getElementById('cv');
var cv = cvEl.getContext('2d');
var particles = [];
var lines = [];

var brand = '#4f3cb6';
var light = '#c3c3c3';
var darkm1 = '#05080b';
var dark = '#0c141b';

cvSize();

function cvSize() {
    var parent = document.getElementById("intro-wrapper");
  cvEl.setAttribute('height', parent.offsetHeight);
  cvEl.setAttribute('width', parent.offsetWidth);
}

window.addEventListener('resize', function() {
  cvSize();
})

for (var i = 0; i < 300; i++) {
  particles.push(new Particle(cv));
}

setInterval(animate, 1);

function Particle(canvas) {

  // Attributes
  this.x = ((Math.random() - 0) * window.innerWidth);
  this.y = ((Math.random() - 0) * window.innerHeight);
  this.vs = (Math.random() - 0.5) * 0.25;
  this.hs = (Math.random() - 0.5) * 0.15;
  this.a = 90 + ((Math.random() - 0.5) * 0.25)
  this.v = 0.2 + Math.random() * 0.1;
  this.canvas = canvas;
  this.rad =  2 + Math.round(Math.random() * 2);
  this.rc = 0;

  this.move = function() {
    this.y += Math.cos(this.a) * this.v;
    this.x += Math.sin(this.a) * this.v;
    if (this.rc < this.rad) {
      this.rc += 0.01;
    }
  }
  this.render = function() {
    this.canvas.beginPath();
    this.canvas.arc(this.x,this.y,this.rc, 0, 2 * Math.PI);
    this.canvas.fillStyle = 'rgba(255,255,255,0.15)';
    this.canvas.fill();
    this.canvas.closePath();
  }.bind(this);
}

function animate() {
  clear();

  particles.forEach(function(p, i, arr) {
      p.move();
    if (p.x > cvEl.width) {
      arr.splice(i, 1);
      arr.push(new Particle(cv));
    } else {
      p.render();
    }
  });
}

function clear() {
  cv.clearRect(0, 0, cvEl.width, cvEl.height);
}
</script>
</html>