{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="black-container">
        <div class="left-container">
            <div class="face-container">
                <div class="smile-face{% if bool %} active{% endif %}"></div>
                <div class="toxic-face {% if bool == False %} active{% endif %}"></div>
            </div>
        </div>
        <div class="right-container">
             <div class="form-container">
                <form method="POST">
                    {% csrf_token %}
                  <textarea name="message" rows="3" class="question" id="msg" required autocomplete="off">{{ output }}</textarea>
                  <label for="msg"><span class="comments">What's Your Comment?</span></label>
                  <input type="submit" value="C L I C K   T O   T E S T !" />
                </form>
            </div>
            <div class="evaluate-container" id="evaluate">
                <h1 style="color:white">O V E R A L L : &nbsp;&nbsp;{{ percentage }}</h1>
                <h1 style="color:white">P O S. &nbsp; P O I N T S : &nbsp;&nbsp;{{ positive_point }}</h1>
                <h1 style="color:white">N E G. &nbsp; P O I N T S : &nbsp;&nbsp;{{ negative_point }}</h1>
                <h1 style="color:white">{{ check_pos }}</h1>
            </div>
        </div>
    </div>
{% endblock %}