{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main-container">
    <div class="header-container">
        <div class="more-container">
            <div class="more">
                <h1>m o r e &nbsp;&nbsp;<span><a href="/about" style="color:inherit;"><b>A B O U T</b></a></span>&nbsp;&nbsp; u s ?</h1>
            </div>
        </div>
        <div class="our-container">
            <div class="label-1">
                <h1>O U R &nbsp; M E A N I N G</h1>
                <p>A webapp that <br />checks if a comment <br />is toxic or not</p>
                <p>- 0 1 -</p>
            </div>
            <div class="label-1">
                <h1>O U R &nbsp; A L G O R I T H M</h1>
                <p>We are using <br /> the "Naive Bayes" <br />theorem</p>
                <p>- 0 2 -</p>
            </div>
            <div class="label-1">
                <h1>O U R &nbsp; A C C U R A C Y</h1>
                <p>From 32450 datasets <br /> we have an<br />accuracy of <b>+-83%</b></p>
                <p>- 0 3 -</p>
            </div>
        </div>
    </div>
    <div class="intro-wrapper" id="intro-wrapper">
        <canvas id="cv"></canvas>
        <div class="title-container">
            <div class="image-cont"></div>
            <div class="by-container">
                <div class="topper">
                    <p>A &nbsp; P R O J E C T &nbsp; B Y :</p>
                </div>
                <div class="names">
                    <h2>A N D R E &nbsp;&nbsp;S.</h2>
                    <h2>D A V I N &nbsp;&nbsp;I.</h2>
                    <h2>M I C H A E L &nbsp;&nbsp;S.</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-container">
        <div class="try-container">
            <a href="/input" style="color: inherit;">
                <h1> +&nbsp;&nbsp; T R Y  &nbsp; I T  &nbsp; O U T ! &nbsp;&nbsp; -</h1>
            </a>
        </div>
    </div>    
</div>
{% endblock %}